* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}

#container {
    margin: auto;
    width: 70%;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    background-color: #f7ede3;
    border: solid #84a59e 3px;
    border-radius: 20px;
    align-content:center;
}

#form {
    font-size: 35px;
    color: #f5bd60;
}

.campi {
    margin: 20px 0;
    color: #84a59e ;
}

#password {
    font-size: 30px;
}
